$darkgrey: #4C5160;
$lightgrey: #93969f;

body {
    padding-top: 60px;
    background-color: $darkgrey;
    color: white;
}

.row {
    padding: 10px;
}

th, td {
    padding: 5px;
}

a {
    color: $lightgrey;
}

::selection {
    color: white;
    background-color: black;
}